/* Bootstrap variables */
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #000;
  background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
  color: #fff;
  --bs-body-font-size: 18px;
  background-color: #f2f2ed;
  font-family: "Quicksand", sans-serif;

  min-height: calc(100vh);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.order-status {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.order-status__labeled-output-field {
  display: block;
  margin-bottom: 20px;
}

.order-status__label {
  display: block;
  font-weight: 900;
  font-size: 100%;
}

#app {
  max-width: min(calc(90vw), 500px);
}

@media screen and (min-width: 600px) {
  #app {
    border-radius: 10px;
  }

  .paypal-logo {
    max-width: 120px;
  }
}

.glasscard {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 20px;
}

.sign-out-button {
  margin-bottom: 40px;
  width: 150px;
  float: right;
  position: absolute;
  right: 10px;
  padding: 10px;
  border: none;
}

.profile-image {
  border-radius: 20px;
}

.product-image {
  border-radius: 10px;
  width: 100%;
}
.paypal-logo {
  padding: 10px;
  border-radius: 20px;
  max-width: 80px;

  float: right;
  top: 7px;
}

#app {
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
}

.instructions__list {
  font-weight: 200;
}
ul.instructions__list a {
  color: white;
}
