/* Bootstrap variables */

body {
  --bs-body-font-size: 18px;
}

.order-status {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.order-status__labeled-output-field {
  display: block;
  margin-bottom: 20px;
}

.order-status__label {
  display: block;
  font-weight: 900;
  font-size: 100%;
}

#app a {
  color: white;
}
#app {
  max-width: min(calc(96vw), 800px);
}

@media screen and (min-width: 600px) {
  #app {
    border-radius: 10px;
  }
}

.glasscard {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 20px;
}

.sign-out-button {
  margin-bottom: 40px;
  width: 150px;
  float: right;
  position: absolute;
  right: 10px;
  padding: 10px;
  border: none;
}

.instructions__list {
  margin-bottom: 50px;
}

.instructions__list li {
  margin-bottom: 20px;
}

.profile-image {
  border-radius: 20px;
}

.paypal-logo {
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 80px;

  position: relative;
  top: 7px;
}
